<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Foto</title>
    <link rel="stylesheet" href="static/style.css" />
  </head>
  <body>
    <nav>
      <ul>
        <li><a href="/">Dasbor</a></li>
        <li><a href="/tentang">Tentang</a></li>
        <li><a href="/foto">Foto</a></li>
        <li><a href="/kontak">Kontak</a></li>
      </ul>
    </nav>

    <header>
      <h1>Galeri Foto</h1>
    </header>

    <section>
      <div>
        <img src="static/images/Foto Sendiri.jpg" alt="Foto" />
      </div>
    </section>
  </body>
</html>
