<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dasbor</title>
    <link rel="stylesheet" href="static/style.css" />
  </head>
  <body>
    <nav>
      <ul>
        <li><a href="/">Dasbor</a></li>
        <li><a href="/tentang">Tentang</a></li>
        <li><a href="/foto">Foto</a></li>
        <li><a href="/kontak">Kontak</a></li>
      </ul>
    </nav>

    <header>
      <h1>Selamat Datang di Dasbor</h1>
      <p></p>
    </header>

    <section>
      <div>
        <img src="static/images/Foto Sendiri.jpg" alt="Foto Profil" />
      </div>
      <div>
        <h2>Biodata</h2>
        <p><strong>Nama:</strong> Muhammad Yusril Syah</p>
        <p><strong>NPM:</strong> 140910240026</p>
        <p><strong>TTL:</strong> Cirebon, 1 Juni 2006</p>
      </div>
    </section>
  </body>
</html>
