<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Kontak</title>
    <link rel="stylesheet" href="static/style.css" />
  </head>
  <body>
    <nav>
      <ul>
        <li><a href="/">Dasbor</a></li>
        <li><a href="/tentang">Tentang</a></li>
        <li><a href="/foto">Foto</a></li>
        <li><a href="/kontak">Kontak</a></li>
      </ul>
    </nav>

    <header>
      <header>
        <h1>Hubungi Saya</h1>

        <div>
          <p>
            <a
              class="icon-link whatsapp"
              href="https://wa.me/6281321587387"
              target="_blank"
              >WhatsApp Saya</a
            >
          </p>
          <p>
            <a
              class="icon-link email"
              href="https://mail.google.com/mail/?view=cm&to=muhammadyusrilsyah@gmail.com"
              target="_blank"
              >Email Saya</a
            >
          </p>
          <p>
            <a
              class="icon-link instagram"
              href="https://instagram.com/muhammad_yusril_syah"
              target="_blank"
              >Instagram Saya</a
            >
          </p>
        </div>
      </header>
    </header>

    <section>
      <div></div>
    </section>
  </body>
</html>
