<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Tentang</title>
    <link rel="stylesheet" href="static/style.css" />
  </head>
  <body>
    <nav>
      <ul>
        <li><a href="/">Dasbor</a></li>
        <li><a href="/tentang">Tentang</a></li>
        <li><a href="/foto">Foto</a></li>
        <li><a href="/kontak">Kontak</a></li>
      </ul>
    </nav>

    <header>
      <h1>Tentang Saya</h1>
      <p></p>
    </header>

    <section>
      <div>
        <img src="static/images/Foto Sendiri.jpg" alt="Foto Profil" />
      </div>
      <div>
        <h2>Lainnya</h2>
        <p>
          <strong>Latar Belakang Pendidikan:</strong>Prodi Teknik Elektro Unpad
        </p>
        <p><strong>Hobi:</strong>Belum ditemukan</p>
        <p><strong>Keahlian:</strong>Belum ditemukan</p>
      </div>
    </section>
  </body>
</html>
